{% extends 'base.html' %}

{% block head %}
<title>Table</title>
{% endblock %}
{% block body %}
    <div class="table">
        <h1>Task</h1>
        <table>
            <tr>
                <th>Task</th>
                <th>Added</th>
                <th>Actions</th>
            </tr>
            {% for task in tasks %}
            <tr>
                <td>{{ task.content }}</td>
                <td>{{ task.date_created.date() }}</td>
                <td>{{ task.options }}</td>
                <td>
                    <a href="/delete/{{task.id}}">Delete</a>
                    <br>
                    <a href="/update/{{task.id}}">Update</a>
                </td>
            </tr>
            {% endfor %}
        </table>
        <form action="/" method="POST">
            <input type="text" name="content" id="content" >
            <input type="radio" name="options" id="compras">Compras</input>
            <input type="radio" name="options" id="subir">Subir para a cozinha</input>
            <input type="submit" value="Add Task">
        </form>
        
    </div>
{% endblock %}